<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style>
      .modal {
        z-index: 2000;
      }
      .loader {
        font-size: .75em;
        text-align: center;
      }
      .loader-icon {
        height: 40px;
        width: 40px;
        display: block;
        margin: 20px auto;
        background-image: url('https://www.primeagent.com/Content/images/ajax-loader.gif');
        background-size: contain;
        background-repeat: no-repeat;
      }
      .started .btn-start,
      .btn-stop {
        display: none;
      }
      .started .btn-stop {
        display: block;
      }
      .sms-popover {
        margin: 100px 0 0 65px;
      }
    </style>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <iframe
      src="http://tds1.saucontech.com/tds-map/nyw/routemapc.htm?id=52"
      width="1200"
      height="1000"
      frameborder="0"
      scrolling="no"
    ></iframe>
    <div class="sms-popover popover show">
      <div class="popover-title">SMS me when the bus arrives</div>
      <div class="popover-content">
        <form method="POST" class="sms-form" action="/poi/vehicles">
          <div class="form-group">
            <label>Point of Interest</label>
            <select name="poi" class="form-control">
              {% for key, poi in pois %}
                <option value="{{ key }}">{{ poi.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input required type="tel" name="to" pattern="\d{10}" class="form-control" placeholder="SMS/Mobile Number" />
            <small>Format: 9175551212</small>
          </div>
          <div class="form-group">
            <input type="submit" class="btn-start btn btn-primary form-control" value="START" />
            <input type="button" class="btn-stop btn btn-warning form-control" value="STOP" onClick="javascript:window.location.reload();" />
          </div>
          <div class="loader" style="display: none;">
            <div>
              <strong>Each time</strong> the bus arrives, you will recieve one text message. <br />
              You can stop the text messages yourself or the text messages will stop automatically after 3 complete bus trips.
            </div>
            <div class="loader-icon"></div>
          </div>
        </form>
      </div>
    </div>
    <div id="confirmation-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">SMS Sent</h4>
          </div>
          <div class="modal-body">
            <p>The bus arrived.</p>
          </div>
          <div class="modal-footer">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
      (function($){
        $(document.body).on('submit', '.sms-form', function(evt) {
          var $form = $(evt.target);
          var $btn = $($form.find('input[type=submit]'));
          var interval = {
            id: null,
            sms_max: 3,
            sms_count: 0,
            frequency: 5000,
            pause_length: 120000,
            start: function(){
              var self = this;
              if(this.sms_count >= this.sms_max) {
                return;
              }
              self.id = setInterval(function(){
                $.ajax({
                  type:  $form.attr('method'),
                  url: $form.attr('action'),
                  data: $form.serialize(),
                  success: function(response) {
                    if(response.vehicles && response.sms_sent) {
                      self.sms_count++;
                      self.stop();
                      self.schedule();
                    }
                    else if(response.message) {
                      alert(response.message);
                    }
                    console.log(response);
                  }
                });
              }, self.frequency);
              self.onStart();
            },
            stop: function() {
              clearTimeout(this.id);
              this.onStop();
            },
            schedule: function() {
              setTimeout((function(){
                this.start();
              }).bind(this), this.pause_length);
            },
            // ui stuff.. move / use pub sub
            onStop: function() {
              $('#confirmation-modal').modal();
            },
            onStart: function() {
              // make it stoppable
              $form.addClass('started');
              $form.find('.loader').show();
            }
          };
          
          // stop the form submission
          evt.preventDefault();
          
          // start the interval
          interval.start();
        }); 
      })(window.jQuery);
    </script>
  </body>
</html>